body{
    margin: 0;
}

a{
    text-decoration: none;
}

.sidebar{
    position:absolute;
    width: 80px;
    height: 100vh;
    background-color: gray;
}

.sidebar div {
    transform: rotate(-90deg);
    margin: 80px 0px;
    padding: 6px 10px;
    text-align: center;
    height: 20px;
    font-size: 18px;
    border: solid 2px black;
    border-radius: 10px;
}

.container{
    margin-left: 80px;
    padding: 50px;
    width: calc(100vw - 180px);
}
